[Unit]
Description=Calibre Service
After=network.target

[Service]
Type=forking
PIDFile=calibre-server.pid
ExecStart=/workspace/calibre/calibre-server \
        --daemonize \
        --max-cover=600x800 \
        --max-opds-items=30 \
        --max-opds-ungrouped-items=100 \
        --username=calibre \
        --port=8080 \
        --pidfile=calibre-server.pid \
        --with-library=~/workspace/library

[Install]
WantedBy=multi-user.target
